## Imports

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Dataset - Order.csv')

In [3]:
df.head(3)

,idOrder,Date,idWarehouse,Channel,Category,idBuyer,Product,Quantity,Revenue,RawMaterial,Handling,Logistic,idSales
0,1,2020-01-02 11:32:21,17,Domestic,Walk-in-Customer,34,Salmon,10.50,2488500,2188261.3,2884.51,15599.49,9
1,2,2020-01-02 13:41:40,12,Export,Horeca,13,Salmon Whole Frozen,27.77,4915290,4582050.0,23821.66,56499.18,7
2,3,2020-01-03 10:21:13,4,Export,Tokopedia,91,Salmon,175.66,39523500,36284710.2,871.76,267430.70,9

## Create Functions

In [4]:
def generate_GP(df):
    """
    Create Gross Profit column
    :param df: <pandas dataFrame> original data
    :return df: <pandas dataFrame> final dataframe with added GrossProfit column
    """
    df['GrossProfit'] = df['Revenue'] - (df['RawMaterial']+df['Handling']+df['Logistic'])
    
    return df

In [5]:
def numerical_trait(df, columns):
    """
    Create descriptive statistics for numerical columns
    :param df: <pandas dataFrame> original data
    :param columns: <list> columns which have numerical value
    :return
    """
    master_list = [] #Create master list
    for col in columns: #Generate columns and data
        temp_list = []
        temp_list.append(df[col].min())
        temp_list.append(df[col].max())
        temp_list.append(df[col].mean())
        temp_list.append(df[col].std())
        master_list.append(temp_list)
    
    pd.options.display.float_format = '{:,.2f}'.format #Convert into readable format
    
    return pd.DataFrame(master_list, columns=['min', 'max', 'mean', 'std'], index=columns).T

In [6]:
def categorical_trait(df, column):
    """
    Generate explorative metrics for categorical column
    :param df: <pandas dataFrame> original data
    :param column: <string> column name to be explored
    :return final_df: <pandas_dataframe> final dataframe form
    """
    df_1 = df[column].value_counts() #Get counts for each category
    
    df_2 = df[column].value_counts(normalize=True) #Get percentage for each category
    
    #Adding other columns foreach category
    df_3 = df.groupby([column]).mean()[['Quantity', 'Revenue', 'RawMaterial', 'Handling', 'Logistic', 'GrossProfit']]
    
    
    pd.options.display.float_format = '{:,.2f}'.format #Set display format for readability
    final_df = pd.concat([df_1, df_2, df_3], axis=1) #Combine all the dataframes and rename
    final_df.columns = ['Counts', 'Percentage', 'Quantity', 'Revenue', 'RawMaterial', 'Handling', 'Logistic', 'GrossProfit']
    
    return final_df

In [7]:
def print_full(df):
    """
    Display a dataframe without any truncation
    :param df: <pandas dataFrame> original data
    :return df: <pandas dataFrame> dataframe without truncation
    """
    pd.set_option('display.max_rows', len(df))
    
    return df
    pd.reset_option('display.max_rows')

## Execute Functions

In [8]:
df = generate_GP(df=df)
df.head(3)

,idOrder,Date,idWarehouse,Channel,Category,idBuyer,Product,Quantity,Revenue,RawMaterial,Handling,Logistic,idSales,GrossProfit
0,1,2020-01-02 11:32:21,17,Domestic,Walk-in-Customer,34,Salmon,10.50,2488500,2188261.3,2884.51,15599.49,9,281754.70
1,2,2020-01-02 13:41:40,12,Export,Horeca,13,Salmon Whole Frozen,27.77,4915290,4582050.0,23821.66,56499.18,7,252919.16
2,3,2020-01-03 10:21:13,4,Export,Tokopedia,91,Salmon,175.66,39523500,36284710.2,871.76,267430.70,9,2970487.34

In [9]:
columns = ['Quantity', 'Revenue', 'RawMaterial', 'Handling', 'Logistic', 'GrossProfit']
numerical_trait(df=df, columns=columns)

,Quantity,Revenue,RawMaterial,Handling,Logistic,GrossProfit
min,0.50,"35,000.00","11,741.11",7.50,399.02,"-8,737,262.80"
max,997.27,"147,595,960.00","149,315,069.00","737,169.66","3,645,972.61","10,321,628.45"
mean,45.89,"5,067,866.72","4,706,056.95","27,154.52","109,564.91","225,090.34"
std,85.86,"9,447,706.62","9,136,548.75","80,792.33","222,816.76","923,632.14"

In [10]:
categorical_trait(df=df, column='Channel')

,Counts,Percentage,Quantity,Revenue,RawMaterial,Handling,Logistic,GrossProfit
Export,504,0.50,41.89,"4,897,789.52","4,563,463.06","30,002.44","112,103.50","192,220.52"
Domestic,496,0.50,49.96,"5,240,687.11","4,850,950.74","24,260.66","106,985.38","258,490.33"

In [11]:
categorical_trait(df=df, column='Category')

,Counts,Percentage,Quantity,Revenue,RawMaterial,Handling,Logistic,GrossProfit
Horeca,294,0.29,38.29,"4,594,653.66","4,240,346.26","21,883.78","105,452.43","226,971.19"
Tokopedia,291,0.29,47.00,"4,983,282.21","4,615,186.39","30,766.05","123,527.17","213,802.60"
Walk-in-Customer,267,0.27,48.82,"5,387,074.29","5,031,543.37","21,591.62","100,976.19","232,963.10"
Shopee,148,0.15,53.54,"5,598,341.82","5,222,660.99","40,559.46","105,776.02","229,345.35"

In [12]:
df_product = (categorical_trait(df=df, column='Product'))
print_full(df_product)

,Counts,Percentage,Quantity,Revenue,RawMaterial,Handling,Logistic,GrossProfit
Salmon,271,0.27,27.04,"5,882,321.44","5,502,344.74","59,238.45","106,217.00","214,521.25"
Salmon Whole Frozen,88,0.09,72.20,"12,238,560.11","11,587,745.08","11,015.31","179,128.85","460,670.87"
Salmon Atlantik Whole,69,0.07,38.21,"6,600,701.01","6,374,509.50","35,272.33","266,705.43","-75,786.25"
Dori,57,0.06,158.54,"5,420,480.88","4,842,201.06","8,668.36","81,269.28","488,342.17"
Dori NBL,55,0.06,68.09,"2,730,636.36","2,624,915.76","8,919.81","38,813.95","57,986.85"
Salmon Tasman,46,0.05,19.53,"4,562,675.00","4,279,865.92","23,020.54","161,947.47","97,841.07"
Cumi Ring,36,0.04,31.94,"1,802,583.33","1,617,203.27","4,512.94","52,375.61","128,491.51"
Salmon Portion,29,0.03,8.94,"2,176,517.93","1,936,828.27","14,646.11","96,822.98","128,220.57"
Tuna Loin,28,0.03,18.65,"1,670,210.71","1,420,662.77","5,618.50","42,013.80","201,915.65"
Dori BL Size 4,28,0.03,15.50,"588,017.86","530,916.14","1,734.00","26,668.12","28,699.60"
Dori NBL Size 4,26,0.03,40.12,"1,574,307.69","1,513,892.73","9,297.09","52,545.19","-1,427.32"
Cumi Tube,22,0.02,29.32,"1,782,500.00","1,589,318.18","1,251.03","7,318.10","184,612.68"
Dori NBL 4 Glazing 30%,18,0.02,60.84,"5,099,401.11","4,857,131.47","5,614.60","142,109.92","94,545.13"
Lobster 300up,14,0.01,10.14,"2,504,407.50","2,375,744.85","15,873.48","124,624.56","-11,835.39"
Udang PND,14,0.01,12.00,"1,143,500.00","1,013,481.24","8,538.72","41,689.22","79,790.83"
Dori BL Size 3,12,0.01,45.25,"1,654,250.00","1,390,300.38","3,725.93","54,218.35","206,005.34"
Udang Kupas,10,0.01,22.10,"2,058,100.00","2,286,399.60",885.84,"19,427.99","-248,613.44"
Salmon Headless,9,0.01,65.94,"11,474,333.33","11,210,555.56","12,223.62","231,033.61","20,520.55"
Udang Vannamei Size L,8,0.01,7.25,"681,500.00","592,368.98","1,335.25","24,637.07","63,158.70"
Udang Pancet 21/25,7,0.01,14.64,"2,749,847.43","2,620,426.55","6,887.77","105,421.11","17,111.99"
Gurame Frozen,7,0.01,9.09,"501,598.57","563,484.61","1,751.34","32,732.54","-96,369.92"
Lobster,7,0.01,7.92,"1,871,310.71","2,096,560.90",610.42,"18,379.54","-244,240.15"
Tuna Saku,6,0.01,111.63,"10,963,140.00","9,575,366.16","4,045.85","56,845.78","1,326,882.20"
cumi Tube Size 5-6,5,0.01,32.00,"1,774,000.00","1,531,849.51","7,223.16","42,125.90","192,801.43"
Tuna Saku Root,5,0.01,2.79,"284,172.00","245,718.90","2,126.62","31,087.57","5,238.90"
Salmon Whole Headless,5,0.01,35.31,"6,185,026.00","5,984,909.24","44,721.34","269,111.09","-113,715.67"
Kakap Putih,4,0.00,35.95,"2,391,007.50","1,842,991.28","7,972.56","79,034.99","461,008.66"
Dori BL,4,0.00,157.50,"6,052,500.00","5,183,181.82","202,805.83","192,031.15","474,481.20"
Salmon Portion Non Belly,4,0.00,20.33,"4,929,418.75","4,053,708.26","13,342.69","288,933.50","573,434.30"
Salmon Tasman Whole,4,0.00,15.52,"3,719,400.00","2,924,437.50","33,153.18","94,261.16","667,548.16"
Rajungan Pasteurisasi,4,0.00,162.50,"28,550,000.00","25,793,625.00","21,243.94","627,225.22","2,107,905.83"
Lobster 100up,4,0.00,8.90,"2,200,525.00","2,142,609.10","3,064.36","103,619.42","-48,767.89"
Dori NBL 4 Glazing 20%,4,0.00,30.00,"1,380,000.00","1,200,000.00",722.26,"6,627.36","172,650.38"
Mahi - Mahi Fillet,3,0.00,58.63,"3,547,115.00","2,096,818.63","3,420.35","178,370.27","1,268,505.75"
Gindara Steak,3,0.00,30.17,"1,775,000.00","1,539,957.64","15,769.53","45,012.76","174,260.06"
Kakap Putih Fillet,3,0.00,41.78,"2,752,565.00","2,332,530.56","1,839.58","15,878.58","402,316.28"
Dori BL 3 Glazingan 50%,3,0.00,366.67,"12,100,000.00","4,471,242.55","5,752.30","77,553.58","7,545,451.56"
Salmon Trout Fresh,3,0.00,6.09,"1,523,900.00","1,350,421.18","4,779.21","37,324.17","131,375.43"
Udang Pancet,3,0.00,33.33,"6,183,333.33","5,710,250.00","72,031.77","182,588.62","218,462.95"
Kepiting Bakau 200up,3,0.00,6.96,"393,428.33","327,866.67","2,597.41","16,642.78","46,321.47"
Dori NBL 4 Glazingan 45%,3,0.00,136.67,"5,816,666.67","4,578,333.33",940.77,"43,499.03","1,193,893.53"
Salmon Kirimi,3,0.00,13.17,"3,095,733.33","2,536,005.40","10,515.01","155,245.50","393,967.42"
Dori BL 4 Glazingan 40%,3,0.00,143.33,"5,170,000.00","4,515,000.00","2,117.77","35,517.69","617,364.53"
Dori NBL Size 3,3,0.00,50.00,"2,090,000.00","1,990,696.96","24,514.61","67,650.29","7,138.14"
Dori NBL 3 Glazing 20%,3,0.00,90.00,"4,050,000.00","3,588,066.67","2,832.81","41,900.67","417,199.85"
Cumi Tube size 5-7,2,0.00,20.00,"1,100,000.00","900,000.00",960.10,"6,442.95","192,596.95"
Dori BL 4 Glazing 45%,2,0.00,125.00,"4,500,000.00","3,759,375.00","2,884.52","25,776.04","711,964.44"
Cumi Flower,2,0.00,30.00,"1,800,000.00","2,961,690.00","2,269.74","16,785.83","-1,180,745.57"
Udang Vaname Head On,2,0.00,2.50,"300,000.00","222,500.00",347.74,"1,880.59","75,271.67"
Claw Meat,2,0.00,49.00,"8,820,000.00","7,415,250.00","14,104.03","237,052.30","1,153,593.67"
Udang Pancet 31-35,2,0.00,6.50,"1,133,750.00","668,175.71",402.14,"51,965.15","413,206.99"
Belut,2,0.00,3.00,"300,000.00","167,140.06","1,011.63","12,926.09","118,922.22"
Dori BL 3 Glazing 45%,2,0.00,350.00,"11,250,000.00","10,830,662.98","6,598.00","61,265.63","351,473.38"
Dori NBL 5 Glazing 40%,2,0.00,15.00,"605,000.00","525,000.00",208.75,"4,146.44","75,644.80"
Rajungan,2,0.00,200.00,"34,400,000.00","28,600,000.00","639,809.81","746,993.65","4,413,196.54"
Udang Vanamei Whole,1,0.00,5.00,"625,000.00","450,000.00",676.79,"11,912.57","162,410.64"
Gindara Fillet,1,0.00,193.76,"10,656,800.00","9,772,500.00","23,955.70","59,351.27","800,993.03"
Dori BL 4 Glazing 50%,1,0.00,30.00,"1,020,000.00","885,000.00",598.22,"5,554.75","128,847.03"
Udang Tiger 21-25 @700,1,0.00,100.10,"18,318,300.00","14,030,016.00","80,381.20","589,883.85","3,618,018.95"
Tongkol,1,0.00,4.00,"128,000.00","63,390.48",98.11,"5,254.43","59,256.98"
Cucut,1,0.00,20.00,"720,000.00","597,419.35",422.27,"3,921.00","118,237.38"
Lemuru A,1,0.00,10.00,"128,500.00","105,000.00",55.59,564.82,"22,879.59"
Kembung,1,0.00,3.00,"102,000.00","87,463.23",78.18,"4,187.12","10,271.47"
Salem IQF 5-6 SB,1,0.00,10.00,"250,000.00","343,879.20",146.62,"1,361.46","-95,387.28"
Layang Biru Grade A,1,0.00,10.00,"320,000.00","203,722.48",187.68,"1,742.67","114,347.17"
Dori BL 5 Glazing 40%,1,0.00,50.00,"1,800,000.00","1,675,000.00","1,055.68","9,802.50","114,141.82"
Lobster 800up,1,0.00,1.00,"168,000.00","162,788.05",608.43,"3,847.90",755.62
Kembung Banjar Grade A,1,0.00,10.00,"460,000.00","220,000.00",269.78,"2,505.08","237,225.14"
Tuna Loin Co,1,0.00,20.18,"1,816,200.00","1,614,400.00","8,802.11","20,876.45","172,121.44"
Udang Kipas 70-100 up,1,0.00,14.70,"1,617,000.00","1,323,000.00","1,836.79","46,718.87","245,444.34"
Oyster,1,0.00,10.89,"441,045.00","370,260.00",258.67,"2,401.86","68,124.47"
Kakap Merah Fillet,1,0.00,20.41,"1,459,315.00","1,347,060.00",855.87,"7,947.19","103,451.94"
Ikan Nila Filllet,1,0.00,10.00,"800,000.00","690,000.00",469.19,"4,356.67","105,174.14"
Lobster 400 up,1,0.00,5.15,"1,277,200.00","1,236,000.00","4,524.18","60,591.85","-23,916.03"
Belut Fillet Grade A/Bintang,1,0.00,5.00,"470,000.00","384,930.93",275.65,"2,559.54","82,233.88"
Tenggiri Grade AA,1,0.00,11.00,"660,000.00","504,938.10",387.08,"3,594.25","151,080.57"
Udang Vanamei,1,0.00,10.00,"970,000.00","822,000.00","12,685.88","26,699.03","108,615.09"
Gurame,1,0.00,227.36,"12,050,080.00","11,909,874.67","502,780.07","468,970.64","-831,545.38"
Bandeng,1,0.00,10.00,"300,000.00","165,000.00",175.95,"1,633.75","133,190.30"
Mahi-Mahi,1,0.00,16.51,"908,050.00","703,761.90",532.56,"4,945.09","198,810.45"
Udang Kipas 200 up,1,0.00,101.49,"11,163,900.00","9,380,785.36","17,787.18","478,691.08","1,286,636.38"
Udang Kupas PDTO 26-30,1,0.00,8.00,"1,080,000.00","960,000.00","1,821.84","20,668.76","97,509.40"
Deho Grade A,1,0.00,10.00,"420,000.00","201,238.34",246.33,"2,287.25","216,228.08"
Dori BL 3 Glazing 40%,1,0.00,200.00,"7,200,000.00","6,300,000.00",158.81,"48,717.88","851,123.31"
Cakalang A,1,0.00,10.00,"300,000.00","202,904.45",175.95,"1,633.75","95,285.85"
Dori NBL Glazing 40%,1,0.00,300.00,"11,550,000.00","10,800,000.00","6,773.95","62,899.38","680,326.67"
Rajungan size 16,1,0.00,6.00,"312,000.00","180,000.00","13,000.00","50,000.00","69,000.00"
Baby Octopus,1,0.00,10.00,"470,000.00","475,000.00","13,652.13","30,399.89","-49,052.02"
Lobster Reject,1,0.00,70.14,"5,260,500.00","13,523,708.76","11,850.74","462,203.30","-8,737,262.80"